name: momoshield
description: Mobile Money Fraud Protector - Detect scam messages and protect users from MoMo fraud
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  permission_handler: ^11.0.1
  sqflite: ^2.3.0
  http: ^1.1.0
  shared_preferences: ^2.2.2
  provider: ^6.1.1
  url_launcher: ^6.2.1
  intl: ^0.18.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/images/
    - assets/scam_rules.json
